/*Code by Miles*/

* {
	font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
	background-color: #444349;
	overflow: hidden;
	height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table {
	position: absolute; 
	top: 60px; 
	bottom: 0; 
	left: 0; 
	right: 0;
}

tr {
	width: 100%;
	height: 10%;
}

td {
	width: 10%;
	height: 10%;
}

.stars {
	width: 100%;
}

.asteroids {
	width: 100%;
}

#menu {
	color: white;
	padding: 20px;
	font-size: 20px
}

#init {
	position: absolute;
	top: 45vh;
	left: 45vw;
	color: white;
	padding: 20px;
	font-size: 20px;
	z-index: 99;
}

.firststars {
	width: 100%;
}

@-webkit-keyframes shrink {
    from {width: 10%;}
    to {width: 0%;}
} 

@keyframes shrink {
    from {width: 10%;}
    to {width: 0%;}
}

.btn {
	display: block;
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	text-decoration: none;
}

.btn:hover {
  background: rgba(119, 118, 126, 0.5);
  text-decoration: none;
  cursor: pointer;
}

#cursor {
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 99;
	pointer-events: none;
}