* {
    font-family: "Courier New", Courier, monospace;
    color: white;
}

body {

    background-color: black;

}
input[type = text]{

    font-size: 625%;
    width: 6%;
    border-style: hidden;
    text-align: center;
    margin: 1%;
    color: black;
    background-color: gray;
}
input[type = text]: focus{
    outline: none;
    
}

h2{

font-size: 312.5%
}

#game {

    display:none;
}

#instruction {

    text-align: center;
}

#begin {

    background-color: gray;
}
.instructions {

    text-align: center;
    font-size: 156.25%;
    margin: .64%;
}

.instructions_red {
    text-align: center;
    font-size: 312.5%;
    color: red;
    margin: .64%;
}

.instructions_yellow {
    text-align: center;
    font-size: 312.5%;
    color: yellow;
    margin: .64%;
}

.instructions_green {
    text-align: center;
    font-size: 312.5%;
    color: green;
    margin: .64%;
}
#inputDiv {

    text-align: center;

}

#roundDiv {
    position:absolute;
    z-index: 10;
    float: left;
    left: 2%;
}

#roundNumber {

    font-size: 312.5%;
    margin: 0%;
    
}

#timerArea{
    float: right;
    position:absolute;
    z-index: 11;
    right: 1%;
    text-align: center;
}

#timeLabel {

    font-size: 312.5%;
    margin: 0%;
}
#timer {

    font-size: 187.5%;
}
#characterDiv {

    text-align: center;
    position: relative;
}

#characters {
    position: relative;
    font-size:625%;
    letter-spacing: .3em;
    vertical-align: text-bottom;
    margin: 1.9%;
    border-style: double;
    width: 50%;
    left: 25%;
    text-align: center;
}

#sender {

    width: 5.75%;
    height: 4em;
    background-color: gray;
}