*{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

body {
    margin: 0;
    background: -webkit-linear-gradient(#101128, #196BA4, #20B4A8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#101128, #196BA4, #20B4A8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#101128, #196BA4, #20B4A8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#101128, #196BA4, #20B4A8); /* Standard syntax */
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

Main {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	overflow: auto;
	clear: both;
}

#layoutLeft {
	float: left;
	position: relative;
	width: 75%;
	height: 100%;
}

#layoutRight {
	float: right;
	position: relative;
	width: 24%;
	height:100%;
}

.layoutArea {
    display: inline-block;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#textGame {
	width: 100%;
	height: 100%;
}

#miniGame {
	position: relative;
	width: 100%;
	height: 100%;
}

#textOutput {
    padding: 10px;
    position: relative;
	width: 100%;
	height: 80%;
	margin-bottom: 5px;
	overflow: auto;
}

#prompt {
    display: block;
	position: relative;
    font-size: 20px;
    text-align: center;
	top: 45%;
}

#spacing {
	position: relative;
	height: 5%;
	width: 100%;
}

#actionButtons {
    height: 18%;
	width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
	margin-top: 5px;
}

#movementButtons {
    height: 18%;
	width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
	margin-top: 5px;
}

button{
    display: inline-block;
	width: 20%;
    height: 90%;
    margin: 5px;
}

.mvbtn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
	width: 40%;
    height: 90%;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    cursor: pointer;
}

.smallbtn {
	float:right;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
	padding-left:2px;
	padding-right:2px;
	border:#ffffff solid 1px;
    text-decoration: none;
    cursor: pointer;
}
.smallbtn:hover, .btn:hover, .mvbtn:hover, #invStatToggle:hover, #arcade:hover{
	background: #248BA4;
    text-decoration: none;
}

#invStatToggle {
	position: relative;
    text-align: center;
    width: 100%;
	height: 6%;
    padding: 10px;
	margin-bottom: 5px;
    cursor: pointer;
}

#arcade {
	position: relative;
    text-align: center;
    width: 100%;
	height: 6%;
    padding: 10px;
	margin-bottom: 10px;
    cursor: pointer;
}

.sidebar {
    width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
    position: relative;
	height:72.7%;
    padding: 10px;
	overflow: auto;
}

#statMenu {
	display: none;
}

/*new*/
#layoutLeftgame {
	float: left;
	position: relative;
	width: 75%;
	height: 100%;
	display:none;
}

#background {
	width: 100%;
	height: 100%;
	padding:5%;
	background:url(../minigames/BattleGame/images/forest.jpg) no-repeat;
	background-size:100% 100%;
}

#enemy-pic{
	width: 100%;
	height: 100%;
	background:black;
	background-size:100% 100%;
	position:relative;
}

#attack-animation{
	width: 50%;
	height: 70%;
	margin:auto auto;
	background:none;
	background-size:100% 100%;
	position:relative;
}

#attack-animation.Attack{
	background:url(../minigames/BattleGame/images/slash.gif) no-repeat 50% 0;
	background-size:auto 100%;
}
#attack-animation.Missile{
	background:url(../minigames/BattleGame/images/Missile.gif) no-repeat 50% 0;
	background-size:auto 100%;
}
#attack-animation.Healing{
	background:url(../minigames/BattleGame/images/healing.gif) no-repeat 50% 0;
	background-size:auto 100%;
}


#enemy-pic.Grunt{
	background:url(../minigames/BattleGame/images/grunt.png) no-repeat 50% 0;
	background-size:auto 100%;
}
#attack-animation.Grunt{
	background:url(../minigames/BattleGame/images/gatk.png) no-repeat 50% 0;
	background-size:auto 100%;
}
#enemy-pic.Bandit{
	background:url(../minigames/BattleGame/images/bandit.png) no-repeat 50% 0;
	background-size:auto 100%;
}
#attack-animation.Bandit{
	background:url(../minigames/BattleGame/images/batk.png) no-repeat 50% 0;
	background-size:auto 100%;
}
#enemy-pic.Assassin{
	background:url(../minigames/BattleGame/images/assassin.png) no-repeat 50% 0;
	background-size:auto 100%;
}
#attack-animation.Assassin{
	background:url(../minigames/BattleGame/images/assatk.png) no-repeat 50% 0;
	background-size:auto 100%;
}
#enemy-pic.Eldar{
	background:url(../minigames/BattleGame/images/eldar.png) no-repeat 50% 0;
	background-size:auto 100%;
}
#attack-animation.Eldar{
	background:url(../minigames/BattleGame/images/blood.png) no-repeat 50% 0;
	background-size:auto 100%;
}

#header-area{
	width: 100%;
	height: 20%;
}

#exit{
	cursor: pointer;
	margin: 5% 20%;
	position:relative;
	width:10%;
	text-align:center;
	float:left;
	background:grey;
	padding:2%;
	border:solid 1px white;
}
#Restart{
	cursor: pointer;
	margin: 5% 15%;
	position:relative;
	width:20%;
	text-align:center;
	float:left;
	background:red;
	padding:2%;
	border:solid 1px white;
}

#spacer{
	width:100%;
	height:60%;
}

#footer-area{
	width:100%;
	height:20%;
}

#display-hero{
	float:left;
	width:25%;
	background:#000074;
	padding:2%;
	border:solid 1px white;
}

#display-monster{
	float:right;
	width:25%;
	background:#7F0000;
	padding:2%;
	border:solid 1px white;
}

#battle-info{
	float:left;
	width:60%;
	height:100%;
	background:#000048;
	padding:2%;
	text-wrap:normal;
	border:solid 1px white;
}

#choices{
	float:right;
	width:40%;
	height:100%;
}

.action{
	position:relative;
	width:45%;
	height:45%;
	cursor: pointer;
	background:#000048;
	border:solid 1px white;
	text-align:center;
	margin-left:5%;
	margin-bottom:5%;
}
.action p{
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

#Heal{
	float:left;
}

#MagicMissile{
	float:left;
}

#Attack{
	float:right;
}

#Run{
	float:right;
}


