*{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

body {
    margin: 0;
    background: -webkit-linear-gradient(#101128, #196BA4, #20B4A8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#101128, #196BA4, #20B4A8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#101128, #196BA4, #20B4A8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#101128, #196BA4, #20B4A8); /* Standard syntax */
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

Main {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	overflow: auto;
	clear: both;
}

#layoutLeft {
	float: left;
	position: relative;
	width: 75%;
	height: 100%;
}

#layoutRight {
	float: right;
	position: relative;
	width: 24%;
	height:100%;
}

.layoutArea {
    display: inline-block;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#textGame {
	width: 100%;
	height: 100%;
}

#miniGame {
	position: relative;
	width: 100%;
	height: 100%;
}

#textOutput {
    padding: 10px;
    position: relative;
	width: 100%;
	height: 80%;
	margin-bottom: 5px;
}

#prompt {
    display: block;
	position: relative;
    font-size: 20px;
    text-align: center;
	top: 45%;
}

#spacing {
	position: relative;
	height: 5%;
	width: 100%;
}

#actionButtons {
    height: 18%;
	width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
	margin-top: 5px;
}

button{
    display: inline-block;
    width: 45%;
    height: 90%;
    margin: 5px;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    cursor: pointer;
}

.smallbtn {
	float:right;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
	padding-left:2px;
	border:#ffffff solid 1px;
    text-decoration: none;
    cursor: pointer;
}
.smallbtn:hover{
	background: #248BA4;
    text-decoration: none;
}

.btn:hover {
    background: #248BA4;
    text-decoration: none;
}

#invStatToggle {
	position: relative;
    text-align: center;
    width: 100%;
	height: 6%;
    padding: 10px;
	margin-bottom: 5px;
    cursor: pointer;
}

#invStatToggle:hover {
    background: #248BA4;
    text-decoration: none;
}

.sidebar {
    width: 100%;
	margin-top: 5px;
    position: relative;
	height:92%;
    padding: 10px;
}

#statMenu {
	display: none;
}